<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test name="Test">
    <classes>
      <class name="BasicDay1.basicdDay1"/>
       <class name="BasicDay1.newTestCase"/>
     
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
